 header {
      text-align: center;
      background: url('http://i.imgur.com/4qLslQS.jpg');
      background-size: cover;
      color: black;
      font-family: futura;
      font-variant: small-caps;
    }
     img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 40px;
    }
    a {
      color: pink;
      font-family: futura;
    }
    h1 {
      font-size: 70px;
      font-family: futura;
      font-variant: small-caps;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
      font-family: garamond;
      }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    button {
      background-color: pink;
      font-family: futura;
    }
    h2 {
      font-family: garamond;
      font-variant: small-caps;
      font-size: 30px;
    }
    footer {
      font-family: futura;
      background-color: pink;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }